.contactdetailscard{
    padding:50px;
    background-color: white;
    border: solid;
    border-color: royalblue;
    border-radius: 50px;
}
.contactdetailscard-inner-div{
    background-color: white;
}

li{
    list-style: none;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}